# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RemoteMessage/PbSample.pb.h
*.cc
*.filters
*.vcxproj
*.lastbuildstate
built/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
*.tlog
*.log
*.cache
*.pdb
*.ilk
built/RMsgTestServer/CMakeFiles/generate.stamp.depend
*.stamp
built/RMsgTestServer/cmake_install.cmake
*.depend
built/RMsgTestClient/cmake_install.cmake
*.exp
built/RemoteMessage/cmake_install.cmake
*.opendb
*.db
*.sln
built/CMakeFiles/TargetDirectories.txt
*.list
built/CMakeFiles/feature_tests.cxx
*.bin
*.check_cache
*.rule
built/CMakeFiles/3.8.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
built/CMakeFiles/3.8.1/CompilerIdC/CMakeCCompilerId.c
built/CMakeFiles/3.8.1/CMakeSystem.cmake
built/CMakeFiles/3.8.1/CMakeRCCompiler.cmake
built/CMakeFiles/3.8.1/CMakeCXXCompiler.cmake
built/CMakeFiles/3.8.1/CMakeCCompiler.cmake
built/CMakeCache.txt
built/cmake_install.cmake
built/.vs/RemoteMessage/v14/.suo
